In [2]:
import pandas as pd
import datetime
import xgboost as xgb
from sklearn.model_selection import train_test_split, TimeSeriesSplit

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))
# Any results you write to the current directory are saved as output.

train = pd.read_csv('../input/train.csv')
test = pd.read_csv('../input/test.csv')
sample = pd.read_csv('../input/sample_submission.csv')

['sample_submission.csv', 'test.csv', 'train.csv']

In [3]:
train.describe()

               store           item          sales
count  913000.000000  913000.000000  913000.000000
mean        5.500000      25.500000      52.250287
std         2.872283      14.430878      28.801144
min         1.000000       1.000000       0.000000
25%         3.000000      13.000000      30.000000
50%         5.500000      25.500000      47.000000
75%         8.000000      38.000000      70.000000
max        10.000000      50.000000     231.000000

In [4]:
train.head()

         date  store  item  sales
0  2013-01-01      1     1     13
1  2013-01-02      1     1     11
2  2013-01-03      1     1     14
3  2013-01-04      1     1     13
4  2013-01-05      1     1     10

In [5]:
train.columns

Index(['date', 'store', 'item', 'sales'], dtype='object')

In [6]:
test.columns

Index(['id', 'date', 'store', 'item'], dtype='object')

In [7]:
test.head()

   id        date  store  item
0   0  2018-01-01      1     1
1   1  2018-01-02      1     1
2   2  2018-01-03      1     1
3   3  2018-01-04      1     1
4   4  2018-01-05      1     1

In [8]:
print("train shape:", train.shape)
print("Test shape:", test.shape)
df = pd.concat([train,test])
print(df.shape)
df.head()

train shape: (913000, 4)
Test shape: (45000, 4)
(958000, 5)

C:\Users\Administrator\AppData\Roaming\Python\Python35\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

         date  id  item  sales  store
0  2013-01-01 NaN     1   13.0      1
1  2013-01-02 NaN     1   11.0      1
2  2013-01-03 NaN     1   14.0      1
3  2013-01-04 NaN     1   13.0      1
4  2013-01-05 NaN     1   10.0      1

#### 日期特点

In [9]:
df['date'] = pd.to_datetime(df['date'],infer_datetime_format=True)


df['month'] = df['date'].dt.month
df['weekday'] = df['date'].dt.dayofweek
df['year'] = df['date'].dt.year
# df['date'].dt.
df['week_of_year']  = df.date.dt.weekofyear
df.head()

        date  id  item  sales  store  month  weekday  year  week_of_year
0 2013-01-01 NaN     1   13.0      1      1        1  2013             1
1 2013-01-02 NaN     1   11.0      1      1        2  2013             1
2 2013-01-03 NaN     1   14.0      1      1        3  2013             1
3 2013-01-04 NaN     1   13.0      1      1        4  2013             1
4 2013-01-05 NaN     1   10.0      1      1        5  2013             1

In [10]:
df.set_index("date",inplace=True) #改变Index
df.head()

            id  item  sales  store  month  weekday  year  week_of_year
date
2013-01-01 NaN     1   13.0      1      1        1  2013             1
2013-01-02 NaN     1   11.0      1      1        2  2013             1
2013-01-03 NaN     1   14.0      1      1        3  2013             1
2013-01-04 NaN     1   13.0      1      1        4  2013             1
2013-01-05 NaN     1   10.0      1      1        5  2013             1

In [11]:
df["median-store_item-month"] = df.groupby(['month',"item","store"])["sales"].transform("median")# 该月该商品在该商店的销售量的中值
df["mean-store_item-week"] = df.groupby(['week_of_year',"item","store"])["sales"].transform("mean")# 在一年的这个周内该商品在该商店的平均销售量
df["item-month-sum"] = df.groupby(['month',"item"])["sales"].transform("sum") # 该月该商品在所有商店的总销售量
df["store-month-sum"] = df.groupby(['month',"store"])["sales"].transform("sum") # 该商店这个月所有商品的总销售量
df

,id,item,sales,store,month,weekday,year,week_of_year,median-store_item-month,mean-store_item-week,item-month-sum,store-month-sum
date,,,,,,,,,,,,
2013-01-01,NaN,1,13.0,1,1,1,2013,1,13.0,13.970588,22987.0,249352.0
2013-01-02,NaN,1,11.0,1,1,2,2013,1,13.0,13.970588,22987.0,249352.0
2013-01-03,NaN,1,14.0,1,1,3,2013,1,13.0,13.970588,22987.0,249352.0
2013-01-04,NaN,1,13.0,1,1,4,2013,1,13.0,13.970588,22987.0,249352.0
2013-01-05,NaN,1,10.0,1,1,5,2013,1,13.0,13.970588,22987.0,249352.0
2013-01-06,NaN,1,12.0,1,1,6,2013,1,13.0,13.970588,22987.0,249352.0
2013-01-07,NaN,1,10.0,1,1,0,2013,2,13.0,13.200000,22987.0,249352.0
2013-01-08,NaN,1,9.0,1,1,1,2013,2,13.0,13.200000,22987.0,249352.0
2013-01-09,NaN,1,12.0,1,1,2,2013,2,13.0,13.200000,22987.0,249352.0
2013-01-10,NaN,1,9.0,1,1,3,2013,2,13.0,13.200000,22987.0,249352.0
2013-01-11,NaN,1,9.0,1,1,4,2013,2,13.0,13.200000,22987.0,249352.0
2013-01-12,NaN,1,7.0,1,1,5,2013,2,13.0,13.200000,22987.0,249352.0
2013-01-13,NaN,1,10.0,1,1,6,2013,2,13.0,13.200000,22987.0,249352.0
2013-01-14,NaN,1,12.0,1,1,0,2013,3,13.0,14.114286,22987.0,249352.0
2013-01-15,NaN,1,5.0,1,1,1,2013,3,13.0,14.114286,22987.0,249352.0
2013-01-16,NaN,1,7.0,1,1,2,2013,3,13.0,14.114286,22987.0,249352.0
2013-01-17,NaN,1,16.0,1,1,3,2013,3,13.0,14.114286,22987.0,249352.0
2013-01-18,NaN,1,7.0,1,1,4,2013,3,13.0,14.114286,22987.0,249352.0
2013-01-19,NaN,1,18.0,1,1,5,2013,3,13.0,14.114286,22987.0,249352.0
2013-01-20,NaN,1,15.0,1,1,6,2013,3,13.0,14.114286,22987.0,249352.0
2013-01-21,NaN,1,8.0,1,1,0,2013,4,13.0,13.828571,22987.0,249352.0
2013-01-22,NaN,1,7.0,1,1,1,2013,4,13.0,13.828571,22987.0,249352.0
2013-01-23,NaN,1,9.0,1,1,2,2013,4,13.0,13.828571,22987.0,249352.0
2013-01-24,NaN,1,8.0,1,1,3,2013,4,13.0,13.828571,22987.0,249352.0
2013-01-25,NaN,1,14.0,1,1,4,2013,4,13.0,13.828571,22987.0,249352.0
2013-01-26,NaN,1,12.0,1,1,5,2013,4,13.0,13.828571,22987.0,249352.0
2013-01-27,NaN,1,12.0,1,1,6,2013,4,13.0,13.828571,22987.0,249352.0
2013-01-28,NaN,1,11.0,1,1,0,2013,5,13.0,14.342857,22987.0,249352.0
2013-01-29,NaN,1,6.0,1,1,1,2013,5,13.0,14.342857,22987.0,249352.0
2013-01-30,NaN,1,9.0,1,1,2,2013,5,13.0,14.342857,22987.0,249352.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2018-03-02,44970.0,50,NaN,10,3,4,2018,9,67.0,63.828571,92609.0,411975.0
2018-03-03,44971.0,50,NaN,10,3,5,2018,9,67.0,63.828571,92609.0,411975.0
2018-03-04,44972.0,50,NaN,10,3,6,2018,9,67.0,63.828571,92609.0,411975.0
2018-03-05,44973.0,50,NaN,10,3,0,2018,10,67.0,69.057143,92609.0,411975.0
2018-03-06,44974.0,50,NaN,10,3,1,2018,10,67.0,69.057143,92609.0,411975.0
2018-03-07,44975.0,50,NaN,10,3,2,2018,10,67.0,69.057143,92609.0,411975.0
2018-03-08,44976.0,50,NaN,10,3,3,2018,10,67.0,69.057143,92609.0,411975.0
2018-03-09,44977.0,50,NaN,10,3,4,2018,10,67.0,69.057143,92609.0,411975.0
2018-03-10,44978.0,50,NaN,10,3,5,2018,10,67.0,69.057143,92609.0,411975.0
2018-03-11,44979.0,50,NaN,10,3,6,2018,10,67.0,69.057143,92609.0,411975.0
2018-03-12,44980.0,50,NaN,10,3,0,2018,11,67.0,67.685714,92609.0,411975.0
2018-03-13,44981.0,50,NaN,10,3,1,2018,11,67.0,67.685714,92609.0,411975.0
2018-03-14,44982.0,50,NaN,10,3,2,2018,11,67.0,67.685714,92609.0,411975.0
2018-03-15,44983.0,50,NaN,10,3,3,2018,11,67.0,67.685714,92609.0,411975.0
2018-03-16,44984.0,50,NaN,10,3,4,2018,11,67.0,67.685714,92609.0,411975.0
2018-03-17,44985.0,50,NaN,10,3,5,2018,11,67.0,67.685714,92609.0,411975.0
2018-03-18,44986.0,50,NaN,10,3,6,2018,11,67.0,67.685714,92609.0,411975.0
2018-03-19,44987.0,50,NaN,10,3,0,2018,12,67.0,64.285714,92609.0,411975.0
2018-03-20,44988.0,50,NaN,10,3,1,2018,12,67.0,64.285714,92609.0,411975.0
2018-03-21,44989.0,50,NaN,10,3,2,2018,12,67.0,64.285714,92609.0,411975.0
2018-03-22,44990.0,50,NaN,10,3,3,2018,12,67.0,64.285714,92609.0,411975.0
2018-03-23,44991.0,50,NaN,10,3,4,2018,12,67.0,64.285714,92609.0,411975.0
2018-03-24,44992.0,50,NaN,10,3,5,2018,12,67.0,64.285714,92609.0,411975.0
2018-03-25,44993.0,50,NaN,10,3,6,2018,12,67.0,64.285714,92609.0,411975.0
2018-03-26,44994.0,50,NaN,10,3,0,2018,13,67.0,68.771429,92609.0,411975.0
2018-03-27,44995.0,50,NaN,10,3,1,2018,13,67.0,68.771429,92609.0,411975.0
2018-03-28,44996.0,50,NaN,10,3,2,2018,13,67.0,68.771429,92609.0,411975.0
2018-03-29,44997.0,50,NaN,10,3,3,2018,13,67.0,68.771429,92609.0,411975.0
2018-03-30,44998.0,50,NaN,10,3,4,2018,13,67.0,68.771429,92609.0,411975.0
2018-03-31,44999.0,50,NaN,10,3,5,2018,13,67.0,68.771429,92609.0,411975.0

In [12]:
# get shifted features for grouped data. Note need to sort first! 
df['store_item_shifted-90'] = df.groupby(["item","store"])['sales'].transform(lambda x:x.shift(90)) # 该商店三个月前的销售量
df['store_item_shifted-180'] = df.groupby(["item","store"])['sales'].transform(lambda x:x.shift(180)) # 该商店六个月前的销售量
df['store_item_shifted-365'] = df.groupby(["item","store"])['sales'].transform(lambda x:x.shift(365)) # 该商店一年前的销售量

df["item-week_shifted-90"] = df.groupby(['week_of_year',"item"])["sales"].transform(lambda x:x.shift(12).sum()) # 每个商品十二周前的总销售量
df["store-week_shifted-90"] = df.groupby(['week_of_year',"store"])["sales"].transform(lambda x:x.shift(12).sum()) # 每个商店十二周前的总销售量
df["item-week_shifted-90"] = df.groupby(['week_of_year',"item"])["sales"].transform(lambda x:x.shift(12).mean()) # 每个商品十二周前的平均日销售量
df["store-week_shifted-90"] = df.groupby(['week_of_year',"store"])["sales"].transform(lambda x:x.shift(12).mean()) # 每个商店十二周前的平均日销售量
df.tail()

,id,item,sales,store,month,weekday,year,week_of_year,median-store_item-month,mean-store_item-week,item-month-sum,store-month-sum,store_item_shifted-90,store_item_shifted-180,store_item_shifted-365,item-week_shifted-90,store-week_shifted-90
date,,,,,,,,,,,,,,,,,
2018-03-27,44995.0,50,NaN,10,3,1,2018,13,67.0,68.771429,92609.0,411975.0,63.0,82.0,66.0,61.417143,54.788571
2018-03-28,44996.0,50,NaN,10,3,2,2018,13,67.0,68.771429,92609.0,411975.0,59.0,90.0,60.0,61.417143,54.788571
2018-03-29,44997.0,50,NaN,10,3,3,2018,13,67.0,68.771429,92609.0,411975.0,74.0,103.0,73.0,61.417143,54.788571
2018-03-30,44998.0,50,NaN,10,3,4,2018,13,67.0,68.771429,92609.0,411975.0,62.0,99.0,68.0,61.417143,54.788571
2018-03-31,44999.0,50,NaN,10,3,5,2018,13,67.0,68.771429,92609.0,411975.0,82.0,71.0,69.0,61.417143,54.788571

In [13]:
col = [i for i in df.columns if i not in ['date','id']]
y = 'sales'
col

['item',
 'sales',
 'store',
 'month',
 'weekday',
 'year',
 'week_of_year',
 'median-store_item-month',
 'mean-store_item-week',
 'item-month-sum',
 'store-month-sum',
 'store_item_shifted-90',
 'store_item_shifted-180',
 'store_item_shifted-365',
 'item-week_shifted-90',
 'store-week_shifted-90']

In [14]:
train.columns

Index(['date', 'store', 'item', 'sales'], dtype='object')

In [15]:
train = df.loc[~df.sales.isna()]
print("new train",train.shape)
test = df.loc[df.sales.isna()]
print("new test",test.shape)

new train (913000, 17)
new test (45000, 17)

In [16]:
y

'sales'

#### 训练集和验证集分离

In [17]:
train_x, train_cv, y, y_cv = train_test_split(train[col],train[y], test_size=0.15, random_state=42)

In [18]:
print(train_x.shape,train_cv.shape,y.shape,y_cv.shape)

(776050, 16) (136950, 16) (776050,) (136950,)

#### 建模

In [19]:
def XGB_regressor(train_X, train_y, test_X, test_y, feature_names=None, seed_val=2017, num_rounds=500):
    param = {}
    param['objective'] = 'reg:linear'
    param['eta'] = 0.1
    param['max_depth'] = 6
    param['silent'] = 1
    param['eval_metric'] = 'mae'
    param['min_child_weight'] = 1
    param['subsample'] = 0.8
    param['colsample_bytree'] = 0.8
    param['seed'] = seed_val
    num_rounds = num_rounds

    plst = list(param.items())

    xgtrain = xgb.DMatrix(train_X, label=train_y)

    if test_y is not None:
        xgtest = xgb.DMatrix(test_X, label=test_y)
        watchlist = [ (xgtrain,'train'), (xgtest, 'test') ]
        model = xgb.train(plst, xgtrain, num_rounds, watchlist, early_stopping_rounds=20)
    else:
        xgtest = xgb.DMatrix(test_X)
        model = xgb.train(plst, xgtrain, num_rounds)
        
    return model

In [20]:
model = XGB_regressor(train_X = train_x, train_y = y, test_X = train_cv, test_y = y_cv)
y_test = model.predict(xgb.DMatrix(test[col]), ntree_limit = model.best_ntree_limit)

[0]	train-mae:46.5709	test-mae:46.6042
Multiple eval metrics have been passed: 'test-mae' will be used for early stopping.

Will train until test-mae hasn't improved in 20 rounds.
[1]	train-mae:41.9145	test-mae:41.9444
[2]	train-mae:37.7237	test-mae:37.7489
[3]	train-mae:33.9519	test-mae:33.9744
[4]	train-mae:30.5572	test-mae:30.5773
[5]	train-mae:27.502	test-mae:27.5176
[6]	train-mae:24.7524	test-mae:24.7661
[7]	train-mae:22.2778	test-mae:22.2899
[8]	train-mae:20.0506	test-mae:20.0612
[9]	train-mae:18.0466	test-mae:18.0543
[10]	train-mae:16.2422	test-mae:16.2487
[11]	train-mae:14.6185	test-mae:14.624
[12]	train-mae:13.157	test-mae:13.1618
[13]	train-mae:11.8416	test-mae:11.8458
[14]	train-mae:10.6578	test-mae:10.6613
[15]	train-mae:9.59362	test-mae:9.59555
[16]	train-mae:8.63726	test-mae:8.63773
[17]	train-mae:7.77481	test-mae:7.77525
[18]	train-mae:6.99894	test-mae:6.99906
[19]	train-mae:6.30075	test-mae:6.3006
[20]	train-mae:5.67249	test-mae:5.672
[21]	train-mae:5.10747	test-mae:5.10685
[22]	train-mae:4.59943	test-mae:4.5988
[23]	train-mae:4.1427	test-mae:4.14196
[24]	train-mae:3.73197	test-mae:3.73121
[25]	train-mae:3.3698	test-mae:3.36844
[26]	train-mae:3.04891	test-mae:3.04706
[27]	train-mae:2.75255	test-mae:2.75065
[28]	train-mae:2.50011	test-mae:2.49766
[29]	train-mae:2.27946	test-mae:2.27663
[30]	train-mae:2.088	test-mae:2.08509
[31]	train-mae:1.90009	test-mae:1.89746
[32]	train-mae:1.73318	test-mae:1.73062
[33]	train-mae:1.58535	test-mae:1.58301
[34]	train-mae:1.47538	test-mae:1.47323
[35]	train-mae:1.35853	test-mae:1.35669
[36]	train-mae:1.2781	test-mae:1.27662
[37]	train-mae:1.18622	test-mae:1.18514
[38]	train-mae:1.10381	test-mae:1.10279
[39]	train-mae:1.03146	test-mae:1.0307
[40]	train-mae:0.968044	test-mae:0.967506
[41]	train-mae:0.912476	test-mae:0.912243
[42]	train-mae:0.86111	test-mae:0.861233
[43]	train-mae:0.81466	test-mae:0.81487
[44]	train-mae:0.775786	test-mae:0.776187
[45]	train-mae:0.739281	test-mae:0.740005
[46]	train-mae:0.708418	test-mae:0.709481
[47]	train-mae:0.678252	test-mae:0.679634
[48]	train-mae:0.649097	test-mae:0.650498
[49]	train-mae:0.637149	test-mae:0.638627
[50]	train-mae:0.61438	test-mae:0.615886
[51]	train-mae:0.593478	test-mae:0.595127
[52]	train-mae:0.585751	test-mae:0.587441
[53]	train-mae:0.579177	test-mae:0.58093
[54]	train-mae:0.563066	test-mae:0.564896
[55]	train-mae:0.549015	test-mae:0.550996
[56]	train-mae:0.54502	test-mae:0.547064
[57]	train-mae:0.529693	test-mae:0.531729
[58]	train-mae:0.525973	test-mae:0.528064
[59]	train-mae:0.515305	test-mae:0.517497
[60]	train-mae:0.503055	test-mae:0.505396
[61]	train-mae:0.48879	test-mae:0.491146
[62]	train-mae:0.478493	test-mae:0.480905
[63]	train-mae:0.465798	test-mae:0.468122
[64]	train-mae:0.457254	test-mae:0.459615
[65]	train-mae:0.449221	test-mae:0.451622
[66]	train-mae:0.441028	test-mae:0.443507
[67]	train-mae:0.43885	test-mae:0.441366
[68]	train-mae:0.431369	test-mae:0.433876
[69]	train-mae:0.422154	test-mae:0.424777
[70]	train-mae:0.420706	test-mae:0.423355
[71]	train-mae:0.414019	test-mae:0.416609
[72]	train-mae:0.407295	test-mae:0.409873
[73]	train-mae:0.399803	test-mae:0.402403
[74]	train-mae:0.394437	test-mae:0.397003
[75]	train-mae:0.386735	test-mae:0.389401
[76]	train-mae:0.384366	test-mae:0.387023
[77]	train-mae:0.383157	test-mae:0.385862
[78]	train-mae:0.378418	test-mae:0.381116
[79]	train-mae:0.37267	test-mae:0.375369
[80]	train-mae:0.366538	test-mae:0.36929
[81]	train-mae:0.361031	test-mae:0.363796
[82]	train-mae:0.357308	test-mae:0.360134
[83]	train-mae:0.355498	test-mae:0.358316
[84]	train-mae:0.350089	test-mae:0.352842
[85]	train-mae:0.344308	test-mae:0.347056
[86]	train-mae:0.338569	test-mae:0.341387
[87]	train-mae:0.337029	test-mae:0.339865
[88]	train-mae:0.33566	test-mae:0.338504
[89]	train-mae:0.334683	test-mae:0.337542
[90]	train-mae:0.333671	test-mae:0.33656
[91]	train-mae:0.327126	test-mae:0.330041
[92]	train-mae:0.325837	test-mae:0.328756
[93]	train-mae:0.325048	test-mae:0.328
[94]	train-mae:0.324467	test-mae:0.327427
[95]	train-mae:0.323564	test-mae:0.32653
[96]	train-mae:0.322677	test-mae:0.32565
[97]	train-mae:0.322321	test-mae:0.325297
[98]	train-mae:0.321518	test-mae:0.324517
[99]	train-mae:0.316019	test-mae:0.318979
[100]	train-mae:0.309612	test-mae:0.312566
[101]	train-mae:0.30497	test-mae:0.307947
[102]	train-mae:0.299621	test-mae:0.302519
[103]	train-mae:0.295259	test-mae:0.298129
[104]	train-mae:0.294499	test-mae:0.297378
[105]	train-mae:0.290295	test-mae:0.293179
[106]	train-mae:0.286777	test-mae:0.289708
[107]	train-mae:0.282427	test-mae:0.285391
[108]	train-mae:0.28107	test-mae:0.284036
[109]	train-mae:0.277813	test-mae:0.28076
[110]	train-mae:0.274067	test-mae:0.277014
[111]	train-mae:0.272278	test-mae:0.275241
[112]	train-mae:0.271167	test-mae:0.274141
[113]	train-mae:0.267464	test-mae:0.270438
[114]	train-mae:0.264077	test-mae:0.267024
[115]	train-mae:0.26126	test-mae:0.26421
[116]	train-mae:0.258362	test-mae:0.261301
[117]	train-mae:0.255481	test-mae:0.258362
[118]	train-mae:0.252519	test-mae:0.255394
[119]	train-mae:0.251482	test-mae:0.254362
[120]	train-mae:0.250835	test-mae:0.253716
[121]	train-mae:0.247403	test-mae:0.250324
[122]	train-mae:0.244183	test-mae:0.247176
[123]	train-mae:0.242105	test-mae:0.245103
[124]	train-mae:0.241019	test-mae:0.244008
[125]	train-mae:0.238567	test-mae:0.241579
[126]	train-mae:0.235297	test-mae:0.238334
[127]	train-mae:0.233334	test-mae:0.23638
[128]	train-mae:0.232483	test-mae:0.235522
[129]	train-mae:0.228611	test-mae:0.231698
[130]	train-mae:0.226965	test-mae:0.230031
[131]	train-mae:0.225368	test-mae:0.228443
[132]	train-mae:0.222998	test-mae:0.226073
[133]	train-mae:0.219997	test-mae:0.223057
[134]	train-mae:0.218074	test-mae:0.221098
[135]	train-mae:0.217434	test-mae:0.220465
[136]	train-mae:0.215132	test-mae:0.218143
[137]	train-mae:0.213835	test-mae:0.216841
[138]	train-mae:0.211286	test-mae:0.214314
[139]	train-mae:0.208966	test-mae:0.211997
[140]	train-mae:0.207406	test-mae:0.210458
[141]	train-mae:0.205227	test-mae:0.208267
[142]	train-mae:0.203587	test-mae:0.206635
[143]	train-mae:0.201542	test-mae:0.204639
[144]	train-mae:0.200819	test-mae:0.203924
[145]	train-mae:0.198589	test-mae:0.201712
[146]	train-mae:0.197414	test-mae:0.200547
[147]	train-mae:0.195073	test-mae:0.198219
[148]	train-mae:0.193697	test-mae:0.196847
[149]	train-mae:0.191933	test-mae:0.195108
[150]	train-mae:0.190037	test-mae:0.193186
[151]	train-mae:0.189401	test-mae:0.192536
[152]	train-mae:0.188163	test-mae:0.191293
[153]	train-mae:0.186546	test-mae:0.189684
[154]	train-mae:0.184777	test-mae:0.187953
[155]	train-mae:0.182656	test-mae:0.185853
[156]	train-mae:0.180881	test-mae:0.184094
[157]	train-mae:0.17899	test-mae:0.182257
[158]	train-mae:0.178575	test-mae:0.181846
[159]	train-mae:0.176962	test-mae:0.180226
[160]	train-mae:0.175979	test-mae:0.179241
[161]	train-mae:0.17404	test-mae:0.177298
[162]	train-mae:0.173027	test-mae:0.176277
[163]	train-mae:0.17164	test-mae:0.174885
[164]	train-mae:0.170074	test-mae:0.173342
[165]	train-mae:0.169052	test-mae:0.172347
[166]	train-mae:0.168747	test-mae:0.172044
[167]	train-mae:0.167744	test-mae:0.171024
[168]	train-mae:0.166931	test-mae:0.170193
[169]	train-mae:0.165873	test-mae:0.169139
[170]	train-mae:0.164663	test-mae:0.167939
[171]	train-mae:0.163737	test-mae:0.167007
[172]	train-mae:0.162802	test-mae:0.166066
[173]	train-mae:0.161344	test-mae:0.164579
[174]	train-mae:0.160796	test-mae:0.164032
[175]	train-mae:0.159762	test-mae:0.162995
[176]	train-mae:0.158373	test-mae:0.161613
[177]	train-mae:0.157426	test-mae:0.160671
[178]	train-mae:0.1565	test-mae:0.159726
[179]	train-mae:0.155824	test-mae:0.159054
[180]	train-mae:0.155537	test-mae:0.158766
[181]	train-mae:0.15455	test-mae:0.157783
[182]	train-mae:0.153553	test-mae:0.156778
[183]	train-mae:0.152738	test-mae:0.155978
[184]	train-mae:0.152025	test-mae:0.155254
[185]	train-mae:0.1514	test-mae:0.154622
[186]	train-mae:0.150847	test-mae:0.154071
[187]	train-mae:0.150019	test-mae:0.15324
[188]	train-mae:0.149334	test-mae:0.152534
[189]	train-mae:0.148301	test-mae:0.15152
[190]	train-mae:0.147196	test-mae:0.150422
[191]	train-mae:0.14652	test-mae:0.149735
[192]	train-mae:0.145725	test-mae:0.148949

[193]	train-mae:0.144809	test-mae:0.148037
[194]	train-mae:0.144033	test-mae:0.147248
[195]	train-mae:0.142767	test-mae:0.145996
[196]	train-mae:0.141714	test-mae:0.14494
[197]	train-mae:0.141387	test-mae:0.14462
[198]	train-mae:0.141069	test-mae:0.144312
[199]	train-mae:0.140619	test-mae:0.143864
[200]	train-mae:0.140066	test-mae:0.143331
[201]	train-mae:0.139768	test-mae:0.143039
[202]	train-mae:0.139571	test-mae:0.142851
[203]	train-mae:0.138888	test-mae:0.14216
[204]	train-mae:0.138456	test-mae:0.141728
[205]	train-mae:0.137875	test-mae:0.141142
[206]	train-mae:0.137061	test-mae:0.140304
[207]	train-mae:0.136653	test-mae:0.139883
[208]	train-mae:0.135993	test-mae:0.139212
[209]	train-mae:0.135219	test-mae:0.138424
[210]	train-mae:0.134651	test-mae:0.137831
[211]	train-mae:0.1341	test-mae:0.137282
[212]	train-mae:0.133584	test-mae:0.136757
[213]	train-mae:0.132979	test-mae:0.13613
[214]	train-mae:0.132289	test-mae:0.135448
[215]	train-mae:0.131212	test-mae:0.134355
[216]	train-mae:0.130854	test-mae:0.134009
[217]	train-mae:0.129827	test-mae:0.132986
[218]	train-mae:0.129394	test-mae:0.132538
[219]	train-mae:0.128964	test-mae:0.1321
[220]	train-mae:0.128366	test-mae:0.13151
[221]	train-mae:0.127863	test-mae:0.130998
[222]	train-mae:0.127539	test-mae:0.13067
[223]	train-mae:0.126892	test-mae:0.130014
[224]	train-mae:0.126504	test-mae:0.129608
[225]	train-mae:0.126116	test-mae:0.129221
[226]	train-mae:0.125932	test-mae:0.129037
[227]	train-mae:0.125651	test-mae:0.128746
[228]	train-mae:0.125325	test-mae:0.128419
[229]	train-mae:0.124891	test-mae:0.127989
[230]	train-mae:0.124463	test-mae:0.127544
[231]	train-mae:0.124008	test-mae:0.127096
[232]	train-mae:0.123749	test-mae:0.126843
[233]	train-mae:0.123325	test-mae:0.126417
[234]	train-mae:0.122998	test-mae:0.126067
[235]	train-mae:0.12274	test-mae:0.125813
[236]	train-mae:0.122284	test-mae:0.125373
[237]	train-mae:0.121911	test-mae:0.124997
[238]	train-mae:0.121459	test-mae:0.124541
[239]	train-mae:0.121042	test-mae:0.124121
[240]	train-mae:0.120731	test-mae:0.123814
[241]	train-mae:0.120418	test-mae:0.123486
[242]	train-mae:0.119976	test-mae:0.123028
[243]	train-mae:0.119661	test-mae:0.122718
[244]	train-mae:0.119313	test-mae:0.122364
[245]	train-mae:0.118994	test-mae:0.122045
[246]	train-mae:0.118703	test-mae:0.121753
[247]	train-mae:0.118326	test-mae:0.121372
[248]	train-mae:0.117978	test-mae:0.121012
[249]	train-mae:0.117567	test-mae:0.120596
[250]	train-mae:0.117213	test-mae:0.120232
[251]	train-mae:0.117097	test-mae:0.120125
[252]	train-mae:0.116857	test-mae:0.119885
[253]	train-mae:0.116456	test-mae:0.119469
[254]	train-mae:0.116186	test-mae:0.119188
[255]	train-mae:0.11575	test-mae:0.118745
[256]	train-mae:0.11537	test-mae:0.118351
[257]	train-mae:0.115215	test-mae:0.118204
[258]	train-mae:0.115086	test-mae:0.118077
[259]	train-mae:0.114751	test-mae:0.117735
[260]	train-mae:0.114436	test-mae:0.117412
[261]	train-mae:0.114257	test-mae:0.117224
[262]	train-mae:0.114042	test-mae:0.116995
[263]	train-mae:0.113897	test-mae:0.116853
[264]	train-mae:0.11357	test-mae:0.116512
[265]	train-mae:0.113205	test-mae:0.116114
[266]	train-mae:0.112873	test-mae:0.115773
[267]	train-mae:0.112709	test-mae:0.115609
[268]	train-mae:0.112471	test-mae:0.115364
[269]	train-mae:0.112251	test-mae:0.115137
[270]	train-mae:0.111873	test-mae:0.11475
[271]	train-mae:0.111702	test-mae:0.114575
[272]	train-mae:0.111476	test-mae:0.114337
[273]	train-mae:0.11122	test-mae:0.114074
[274]	train-mae:0.110958	test-mae:0.113813
[275]	train-mae:0.110772	test-mae:0.11363
[276]	train-mae:0.110572	test-mae:0.113435
[277]	train-mae:0.110125	test-mae:0.112976
[278]	train-mae:0.109916	test-mae:0.112769
[279]	train-mae:0.109549	test-mae:0.112397
[280]	train-mae:0.10942	test-mae:0.112268
[281]	train-mae:0.109245	test-mae:0.112097
[282]	train-mae:0.109012	test-mae:0.111854
[283]	train-mae:0.108814	test-mae:0.111665
[284]	train-mae:0.108429	test-mae:0.111267
[285]	train-mae:0.108194	test-mae:0.111039
[286]	train-mae:0.107699	test-mae:0.110524
[287]	train-mae:0.107614	test-mae:0.110437
[288]	train-mae:0.107462	test-mae:0.110278
[289]	train-mae:0.107318	test-mae:0.110126
[290]	train-mae:0.107062	test-mae:0.109861
[291]	train-mae:0.106826	test-mae:0.109609
[292]	train-mae:0.106678	test-mae:0.109463
[293]	train-mae:0.106383	test-mae:0.109156
[294]	train-mae:0.106066	test-mae:0.108852
[295]	train-mae:0.105895	test-mae:0.108681
[296]	train-mae:0.105684	test-mae:0.10847
[297]	train-mae:0.105579	test-mae:0.108366
[298]	train-mae:0.105339	test-mae:0.108121
[299]	train-mae:0.105182	test-mae:0.107968
[300]	train-mae:0.105048	test-mae:0.10783
[301]	train-mae:0.104859	test-mae:0.107631
[302]	train-mae:0.104718	test-mae:0.107492
[303]	train-mae:0.104634	test-mae:0.107418
[304]	train-mae:0.104455	test-mae:0.107229
[305]	train-mae:0.104261	test-mae:0.107033
[306]	train-mae:0.104168	test-mae:0.106936
[307]	train-mae:0.104043	test-mae:0.106808
[308]	train-mae:0.103941	test-mae:0.106701
[309]	train-mae:0.103846	test-mae:0.106613
[310]	train-mae:0.103754	test-mae:0.106518
[311]	train-mae:0.103627	test-mae:0.106396
[312]	train-mae:0.103563	test-mae:0.106333
[313]	train-mae:0.103471	test-mae:0.106236
[314]	train-mae:0.103374	test-mae:0.106133
[315]	train-mae:0.103217	test-mae:0.105981
[316]	train-mae:0.102959	test-mae:0.105712
[317]	train-mae:0.102718	test-mae:0.105469
[318]	train-mae:0.102435	test-mae:0.105176
[319]	train-mae:0.102251	test-mae:0.10499
[320]	train-mae:0.102172	test-mae:0.104907
[321]	train-mae:0.101922	test-mae:0.104658
[322]	train-mae:0.101854	test-mae:0.104589
[323]	train-mae:0.101759	test-mae:0.104493
[324]	train-mae:0.101654	test-mae:0.104386
[325]	train-mae:0.101538	test-mae:0.104269
[326]	train-mae:0.101422	test-mae:0.104149
[327]	train-mae:0.101313	test-mae:0.104037
[328]	train-mae:0.101148	test-mae:0.103878
[329]	train-mae:0.100971	test-mae:0.103709
[330]	train-mae:0.100862	test-mae:0.103595
[331]	train-mae:0.100795	test-mae:0.10353
[332]	train-mae:0.100623	test-mae:0.103359
[333]	train-mae:0.100565	test-mae:0.103302
[334]	train-mae:0.100388	test-mae:0.103122
[335]	train-mae:0.10033	test-mae:0.103072
[336]	train-mae:0.100249	test-mae:0.102985
[337]	train-mae:0.100084	test-mae:0.102824
[338]	train-mae:0.099891	test-mae:0.102625
[339]	train-mae:0.099737	test-mae:0.102462
[340]	train-mae:0.099635	test-mae:0.102358
[341]	train-mae:0.099573	test-mae:0.102298
[342]	train-mae:0.099481	test-mae:0.102211
[343]	train-mae:0.099386	test-mae:0.10211
[344]	train-mae:0.099287	test-mae:0.102007
[345]	train-mae:0.099155	test-mae:0.101878
[346]	train-mae:0.099072	test-mae:0.101797
[347]	train-mae:0.098753	test-mae:0.101475
[348]	train-mae:0.098694	test-mae:0.101416
[349]	train-mae:0.098268	test-mae:0.100983
[350]	train-mae:0.098144	test-mae:0.100864
[351]	train-mae:0.098061	test-mae:0.100783
[352]	train-mae:0.097924	test-mae:0.100643
[353]	train-mae:0.097811	test-mae:0.100529
[354]	train-mae:0.097742	test-mae:0.100463
[355]	train-mae:0.097606	test-mae:0.100329
[356]	train-mae:0.097484	test-mae:0.100214
[357]	train-mae:0.097045	test-mae:0.099768
[358]	train-mae:0.096961	test-mae:0.099676
[359]	train-mae:0.096846	test-mae:0.099565
[360]	train-mae:0.09675	test-mae:0.099469
[361]	train-mae:0.096681	test-mae:0.099401
[362]	train-mae:0.096638	test-mae:0.099356
[363]	train-mae:0.096562	test-mae:0.099279
[364]	train-mae:0.09647	test-mae:0.099183
[365]	train-mae:0.096334	test-mae:0.099041
[366]	train-mae:0.096242	test-mae:0.098942
[367]	train-mae:0.096208	test-mae:0.09891
[368]	train-mae:0.09617	test-mae:0.098873
[369]	train-mae:0.096105	test-mae:0.098808
[370]	train-mae:0.096002	test-mae:0.098701
[371]	train-mae:0.095941	test-mae:0.098643
[372]	train-mae:0.095849	test-mae:0.09855
[373]	train-mae:0.095687	test-mae:0.098381
[374]	train-mae:0.095543	test-mae:0.098239
[375]	train-mae:0.095485	test-mae:0.098177
[376]	train-mae:0.095424	test-mae:0.098107
[377]	train-mae:0.095318	test-mae:0.098002
[378]	train-mae:0.095238	test-mae:0.097917
[379]	train-mae:0.095162	test-mae:0.097845
[380]	train-mae:0.094883	test-mae:0.097558
[381]	train-mae:0.094684	test-mae:0.097369
[382]	train-mae:0.094601	test-mae:0.097285
[383]	train-mae:0.094429	test-mae:0.097117
[384]	train-mae:0.094332	test-mae:0.097026

[385]	train-mae:0.094275	test-mae:0.096964
[386]	train-mae:0.094246	test-mae:0.096935
[387]	train-mae:0.094192	test-mae:0.09688
[388]	train-mae:0.094104	test-mae:0.096788
[389]	train-mae:0.094042	test-mae:0.096726
[390]	train-mae:0.093981	test-mae:0.096664
[391]	train-mae:0.093916	test-mae:0.0966
[392]	train-mae:0.093526	test-mae:0.096209
[393]	train-mae:0.093507	test-mae:0.09619
[394]	train-mae:0.093457	test-mae:0.096137
[395]	train-mae:0.093391	test-mae:0.096069
[396]	train-mae:0.093303	test-mae:0.095982
[397]	train-mae:0.093274	test-mae:0.09595
[398]	train-mae:0.093235	test-mae:0.09592
[399]	train-mae:0.09319	test-mae:0.095878
[400]	train-mae:0.093135	test-mae:0.095829
[401]	train-mae:0.09305	test-mae:0.095743
[402]	train-mae:0.092881	test-mae:0.095577
[403]	train-mae:0.092824	test-mae:0.095522
[404]	train-mae:0.092724	test-mae:0.095415
[405]	train-mae:0.092599	test-mae:0.095296
[406]	train-mae:0.09255	test-mae:0.095246
[407]	train-mae:0.092521	test-mae:0.095217
[408]	train-mae:0.092455	test-mae:0.095151
[409]	train-mae:0.092415	test-mae:0.095115
[410]	train-mae:0.092348	test-mae:0.095041
[411]	train-mae:0.09228	test-mae:0.094977
[412]	train-mae:0.092188	test-mae:0.094886
[413]	train-mae:0.092125	test-mae:0.094825
[414]	train-mae:0.091992	test-mae:0.094694
[415]	train-mae:0.091947	test-mae:0.094647
[416]	train-mae:0.091583	test-mae:0.094282
[417]	train-mae:0.091519	test-mae:0.094225
[418]	train-mae:0.091434	test-mae:0.094138
[419]	train-mae:0.091379	test-mae:0.094082
[420]	train-mae:0.091348	test-mae:0.094049
[421]	train-mae:0.091296	test-mae:0.093995
[422]	train-mae:0.091246	test-mae:0.093949
[423]	train-mae:0.091126	test-mae:0.093827
[424]	train-mae:0.091016	test-mae:0.093715
[425]	train-mae:0.090971	test-mae:0.093674
[426]	train-mae:0.090881	test-mae:0.09358
[427]	train-mae:0.090735	test-mae:0.093443
[428]	train-mae:0.090693	test-mae:0.093403
[429]	train-mae:0.090601	test-mae:0.093315
[430]	train-mae:0.090539	test-mae:0.093249
[431]	train-mae:0.090452	test-mae:0.093166
[432]	train-mae:0.090411	test-mae:0.093123
[433]	train-mae:0.090327	test-mae:0.093042
[434]	train-mae:0.090305	test-mae:0.093027
[435]	train-mae:0.090241	test-mae:0.092964
[436]	train-mae:0.090201	test-mae:0.092928
[437]	train-mae:0.090161	test-mae:0.092886
[438]	train-mae:0.090037	test-mae:0.092761
[439]	train-mae:0.09001	test-mae:0.092736
[440]	train-mae:0.089977	test-mae:0.092709
[441]	train-mae:0.089939	test-mae:0.092671
[442]	train-mae:0.089886	test-mae:0.092616
[443]	train-mae:0.089852	test-mae:0.092585
[444]	train-mae:0.089771	test-mae:0.092505
[445]	train-mae:0.089714	test-mae:0.092453
[446]	train-mae:0.089558	test-mae:0.092292
[447]	train-mae:0.089473	test-mae:0.092204
[448]	train-mae:0.089432	test-mae:0.092163
[449]	train-mae:0.089356	test-mae:0.092084
[450]	train-mae:0.089336	test-mae:0.092065
[451]	train-mae:0.089294	test-mae:0.092019
[452]	train-mae:0.089245	test-mae:0.091972
[453]	train-mae:0.08917	test-mae:0.0919
[454]	train-mae:0.08907	test-mae:0.091796
[455]	train-mae:0.088957	test-mae:0.091675
[456]	train-mae:0.08882	test-mae:0.091535
[457]	train-mae:0.08877	test-mae:0.091484
[458]	train-mae:0.088559	test-mae:0.091272
[459]	train-mae:0.088538	test-mae:0.091252
[460]	train-mae:0.088516	test-mae:0.09123
[461]	train-mae:0.088471	test-mae:0.091183
[462]	train-mae:0.088446	test-mae:0.091166
[463]	train-mae:0.088394	test-mae:0.091118
[464]	train-mae:0.088293	test-mae:0.091018
[465]	train-mae:0.088217	test-mae:0.090943
[466]	train-mae:0.088169	test-mae:0.090896
[467]	train-mae:0.088132	test-mae:0.090856
[468]	train-mae:0.087974	test-mae:0.090699
[469]	train-mae:0.087941	test-mae:0.090668
[470]	train-mae:0.087904	test-mae:0.090637
[471]	train-mae:0.087869	test-mae:0.090601
[472]	train-mae:0.087707	test-mae:0.090439
[473]	train-mae:0.087696	test-mae:0.09043
[474]	train-mae:0.087626	test-mae:0.090362
[475]	train-mae:0.087502	test-mae:0.09024
[476]	train-mae:0.087475	test-mae:0.090215
[477]	train-mae:0.087392	test-mae:0.090126
[478]	train-mae:0.087341	test-mae:0.090075
[479]	train-mae:0.08725	test-mae:0.08999
[480]	train-mae:0.087068	test-mae:0.089821
[481]	train-mae:0.086951	test-mae:0.089701
[482]	train-mae:0.086889	test-mae:0.089635
[483]	train-mae:0.086812	test-mae:0.089557
[484]	train-mae:0.086736	test-mae:0.089477
[485]	train-mae:0.086702	test-mae:0.089441
[486]	train-mae:0.086646	test-mae:0.089385
[487]	train-mae:0.08662	test-mae:0.089365
[488]	train-mae:0.086607	test-mae:0.089353
[489]	train-mae:0.086567	test-mae:0.08931
[490]	train-mae:0.086538	test-mae:0.089285
[491]	train-mae:0.08649	test-mae:0.08924
[492]	train-mae:0.08639	test-mae:0.089134
[493]	train-mae:0.086342	test-mae:0.089083
[494]	train-mae:0.086213	test-mae:0.088957
[495]	train-mae:0.086165	test-mae:0.088909
[496]	train-mae:0.086074	test-mae:0.08881
[497]	train-mae:0.086054	test-mae:0.088792
[498]	train-mae:0.08602	test-mae:0.088756
[499]	train-mae:0.086013	test-mae:0.088751

In [21]:
sample['sales'] = y_test
sample.to_csv('simple_starter.csv', index=False)